/* General page CSS */

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#main {
    display: grid;
    grid-template-columns: repeat(47, 1fr);
    height: 100%;
    overflow: hidden;
}

.left {
    grid-column: 2 / 24;
    border: 0.5px solid black;
    overflow: hidden;
}

.right {
    grid-column: 25/47;
    border: 0.5px solid black;
    overflow: hidden;
}


/* Start Screen CSS */

.startScreen {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10%, 1fr));
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

.logo {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 9;
    width: 90%;
    height: 100%;
}

#welcomeHeader {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
}

#umdappHeader {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
    text-align: center;
}

.umdappHeader {
    margin-top: auto;
    margin-bottom: auto;
}

#startAppButton {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: center;
    font-size: xx-large;
    text-align: center;
}


/* primary PHASE 1.1 CSS */

#phase11 {
    height: 98%;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: auto;
    font-size: larger;
}

#phase11::-webkit-scrollbar {
    display: none;
}

#fourYearPlan {
    height: 90%;
    overflow-y: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 1px solid black;
}

#fourYearPlan::-webkit-scrollbar {
    display: none;
}

.yearTable {
    width: 90%;
    height: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}

.semester {
    vertical-align: top;
    width: 50%;
}

.semesterButton {
    margin: auto;
    width: 100%;
    padding: 5px;
    font-size: larger;
}

.classItem {
    display: flex!important;
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    align-items: center;
}

.credits {
    background-color: #ffd200;
    color: #000000;
}

#fypAddEdit {
    height: 10%;
}

#addYearButton {
    margin-top: 10px;
    margin-bottom: auto;
}


/* primary PHASE 1.2 CSS */

#phase12 {
    height: 98%;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: auto;
}

#phase12::-webkit-scrollbar {
    display: none;
}

.degreeAuditClassRecButtons {
    width: 46.7%;
}

.degreeAuditClassRecButton {
    width: 50%;
}

.degreeAuditTable {
    width: 90%;
    margin-top: 10%;
}

.degreeAuditRow {
    margin: 0;
}

.degreeAuditCheckmarksTitle {
    text-align: center;
    width: 110%;
}

.degreeAuditCheckmarks {
    width: 10%;
    padding: 1%;
}

.degreeAuditCheckmarksList {
    list-style-type: none;
    width: 110%;
}

.degreeAuditData {
    width: 85%;
}

.degreeAuditDataList {
    padding: 0%;
    padding-left: 2%;
    list-style-type: none;
}

.checkIconTitle {
    width: 50%;
    height: 50%;
}

.checkIconBody {
    width: 100%;
    height: 100%;
}


/* Craig Phase CSS */