/* General page CSS */

html,
body {
    height: 100%;
    margin: 0;
}

#main {
    display: grid;
    grid-template-columns: repeat(47, 1fr);
    height: 100%;
}

.left {
    grid-column: 2 / 24;
    /* border: 0.5px solid black; */
}

.right {
    grid-column: 25/47;
    border: 0.5px solid black;
}


/* primary PHASE 1.1 CSS */

#phase11 {
    height: 98%;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: auto;
}

#phase11::-webkit-scrollbar {
    display: none;
}

#fourYearPlan {
    height: 90%;
    overflow-y: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid rgb(226, 18, 33);
}

#fourYearPlan::-webkit-scrollbar {
    display: none;
}

.yearTable {
    width: 90%;
    height: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
}

.semester {
    vertical-align: top;
}

.semesterButton {
    margin: auto;
    width: 100%;
    padding: 5px;
}

#fypAddEdit {
    height: 10%;
}

#addYearButton {
    margin-top: 10px;
    margin-bottom: auto;
}


/* primary PHASE 1.2 CSS */

#phase12 {
    height: 98%;
    margin-top: auto;
    margin-bottom: auto;
}